[2018-04-30 09:53] ahmadmuzakki opened #1 "Multi proto support"
Error when executing proto that has dependencies on another proto files

[2018-04-30 11:03] ahmadmuzakki commented on #1
patched on 57a29e9703d18711512ea65377fde645503974c5

[2018-04-30 11:03] #1 closed

[2018-11-21 13:17] fenos opened #4 "Can't parse Enum fields"
Hi there!

Great library, I just couldn't make it work yet.

I have a proto definition with a GRPC enum type.  When I run `gripmock` i get the following ouput:

[code]

My protos compiles just fine but `GripMock` doesn't seem to like the `enum` type can you advise what's wrong

[2018-12-25 06:23] daleiawei opened #5 "Can't handle method name begin with lowercase letters"
The tool is really useful and easy to get start with! I found one issue that if the method name defined in proto file begin with lowercase letter, for example I define method 'sayHello' instead of 'SayHello' as below:
#hello.proto
...
service Greeter {
  // Sends a greeting
  rpc sayHello (HelloRequest) returns (HelloReply) {}
}
...
Then when I start to run docker for gripmock it would report foll

[2018-12-27 02:07] jekiapp commented on #4
currently gripmock can only parse simple proto syntax provided in this file [proto_parser.go](https://github.com/jekiapp/gripmock/blob/master/proto_parser.go). I'm gonna find a spare time to add more syntax parsing functionality.

[2018-12-27 02:13] jekiapp commented on #5
thanks for submitting issue. I can't say anything yet for now, but I'm planning on check this issue tomorrow.

[2018-12-27 02:18] jekiapp commented on #5
but quick hipothesis though, it seems that protoc will automatically convert `sayHello` into `SayHello` since in golang `sayHello` won't exported outside the package. But gripmock still generating implementation of `sayHello` since that exactly what declared in proto file.
So my advice is change your `sayHello` to `SayHello` because in golang the uppercase matter.

[2018-12-27 02:45] daleiawei commented on #5
I appreciate for your quickly response, I also just noticed that this is caused by golang grammar rules. As I tried to use python grpc_tools to generate the grpc pb file, these's no such kind of issue. I'll follow your suggestion to change my method name to using gripmock as workaround, and in long term I consider to use python to implement the mocker server using your designed logic :- ) Thanks f

[2018-12-27 03:01] jekiapp commented on #5
glad that I help :smile:

[2018-12-28 03:47] jekiapp commented on #5
I realized that this issue is valid since the parser should manage to convert lowercase into uppercase to satisfy go interface.

[2018-12-28 04:04] daleiawei commented on #5
Thanks for considering enhance it! This issue is tough due to golang grammar naming rule, while it would be great if it can support method name begin with lowercase, as for java, python gRPC interface there's no such kind of limitation. so the gRPC client implemented using other language may still use lowercase for method naming.

[2018-12-28 07:16] jekiapp commented on #5
I just update new image for handling lowercase function. I'd be very thankful if you can try yourself (pull the latest image) and I hope you may contribute for example in python or java :smile:

[2018-12-28 08:06] daleiawei commented on #5
Wow! So efficient work!
I've just tried your latest image, which worked very well! Following is my example:

1. Write proto file to be used:
[code]
2. Then I use python tool to generate the pb file:
[code]
3. Implement client base on the auto generated pb files:
[code]
4. Start the docker using the latest image and register the mock service:
[code]
5. Run the test and it got correct mock response:

[2018-12-28 10:11] jekiapp commented on #4
I just merged patch for this issue. Now it will cover most proto file except if you have method's body which is I see it as uncommon. enum now should be fine.

[2019-01-08 05:58] h3poteto opened #8 "Can't parse stream fields"
I prepared proto file like this:
[code]

But `gripmock` can't parse this file, and says an error.

[code]

I think that `gripmock` can not parse stream keywords, because it can parse when I remove stream keywords.

[2019-01-08 07:58] jekiapp commented on #8
thanks for submitting issue, will check on that

[2019-01-14 15:36] saichander opened #9 "Not handling common protobuf message types"
I have a proto file like this:
[code]
While passing this proto file to gripmock, it was unable to find the file where common protobuf message types like wrappers.proto and empty.proto are defined. I am getting the following error
[code]
I got this error while running it on docker image with the command
`docker run -p 4770:4770 -p 4771:4771 -v /events_store:/proto ahmadmuzakki/gripmock gripmock -st

[2019-01-15 02:38] jekiapp commented on #9
Can you do this? `docker run -p 4770:4770 -p 4771:4771 -v /events_store:/proto ahmadmuzakki/gripmock gripmock -stub=/proto/stubs /proto` (without specifically pointing to events_store.proto) gripmock should read all proto inside the folder

[2019-01-15 03:18] saichander commented on #9
@jekiapp I think you are assuming that "google/protobuf/wrappers.proto" file is present in my local folder. It is not, it is present in the `google.protobuf` package. When I import it in my proto file, protoc gets all message types defined in "google/protobuf/wrappers.proto" file from `google.protobuf` package(https://github.com/protocolbuffers/protobuf/blob/master/src/google/protobuf/wrappers.pro

[2019-01-25 03:58] jekiapp commented on #9
apparently you need dependencies from `github.com/google/protobuf`. I'm gonna add the path to be imported when compiling the proto file

[2019-01-25 04:12] jekiapp commented on #9
Hmm it's more complicated than I thought, it will take sometimes but I'm trying to figure it out.

[2019-01-25 04:20] saichander commented on #9
Take your time. As a workaround, I have downloaded these files in my local and stored with directory structure "google/protobuf/wrappers.proto". It is working now, but providing support for handling these dependencies would be a great addition. Thanks 😄

[2019-04-08 18:31] briggySmalls commented on #8
I too had this issue

[2019-04-08 18:47] briggySmalls opened #10 "Not handling methods terminated with semicolon"
Hi. First off thanks for your tool.

I had a service defined using the `rpc` syntax terminated with a colon, as introduced in the [protocol buffers documentation](https://developers.google.com/protocol-buffers/docs/proto3#services):

[code]

Which gives rise to the error:
[code]

This error goes away when using the alternate syntax (terminating an `rpc` definition with curly brackets):

[code]

I

[2019-04-08 19:42] briggySmalls opened #11 "Note handling protobufs that import other protobufs"
If a protobuf imports another protobuf, like:

[code]

[code]

gripmock fails with:

[code]

[2019-05-03 08:52] jekiapp commented on #10
it's funny that I never come across the `;` termination before :smile:. I'm working on it

[2019-05-03 08:59] jekiapp commented on #11
It's duplicate with #9 it's pretty hard to implement since I had to resolve all the imported package manually

[2019-05-03 09:10] jekiapp commented on #11
Just pushed image `ahmadmuzakki/gripmock:0.4` can you pull and try

[2019-05-03 09:10] jekiapp commented on #8
Just pushed image `ahmadmuzakki/gripmock:0.4` can you pull and try

[2019-05-05 13:30] h3poteto commented on #8
I run the same proto file, but it has error.

[code]

`gripmock` can parse `stream` keyword, but can not mock it.

[2019-05-06 20:38] briggySmalls commented on #11
Hey. Thanks for your work.

I just tried it out and I still get the same error.

[code]

[2019-05-30 17:41] SachinHg commented on #11
hey @jekiapp any progress on this issue? I am hitting the same issue as well.
Thanks

[2019-05-30 17:47] SachinHg commented on #9
Hey @saichander @jekiapp ,
here is my problem. I have a proto which depends on few other protos. They all have the same optional go package like `go_package_name` and reside in the same directory `\protos`.
Running the command `docker run --rm -p 4770:4770 -p 4771:4771 -v (pwd):/protos ahmadmuzakki/gripmock:0.4 gripmock /protos/my.proto` throws the error `can't parse proto <source>:85:26: unexpect

[2019-06-18 16:26] ww-daniel-mora opened #13 "Missing OSS License"
Can you add an open source License to this repo?

[2019-08-01 07:09] jekiapp commented on #13
Done

[2019-08-01 07:09] #13 closed

[2019-08-01 07:13] jekiapp commented on #10
should be worked now

[2019-08-01 07:13] #10 closed

[2019-08-02 07:26] jekiapp commented on #8
I'm working on it, hope can be released in next week since it's quite a big feature.
sorry for late reply.

[2019-08-02 07:28] jekiapp commented on #9
can you put the syntax in line 85

[2019-08-06 03:25] 27149chen opened #16 "Support a set of response for the same kind of requests"
Like the python mock, I can set a list of responses in this way: say_hello.side_effect=["h1", "h2"], and first call will return "h1", while second call will return "h2".
Is it possible to do it in gripmock?

[2019-08-09 06:39] jekiapp commented on #11
please also specify all needed proto as parameters in gripmock. in your case should be `gripmock /proto/a.proto /proto/b.proto`

[2019-08-09 06:41] jekiapp commented on #16
for now I don't it's possible. since we are based on Go. But I will put that for future development

[2019-08-09 06:43] jekiapp commented on #8
Please try use image version `ahmadmuzakki/gripmock:0.5`

[2019-08-09 07:21] jekiapp commented on #11
I'm working on it, sorry for the delay

[2019-08-10 07:16] h3poteto commented on #8
[code]

Hmm...

[2019-08-12 03:27] jekiapp commented on #8
Checking now

[2019-08-12 03:42] jekiapp commented on #8
I assume your proto only contains method of rpc Server to Client streaming, no?
I updated my generator to trim unused import, please try `ahmadmuzakki/gripmock:0.5.1`

[2019-08-12 06:15] h3poteto commented on #8
[code]

It's running, great! Thank you!

[2019-08-12 06:15] #8 closed

[2019-08-12 09:59] jekiapp commented on #11
hey @briggySmalls, can you show me how to execute protoc with all those files in your locals?

[2019-08-12 10:32] jekiapp commented on #11
It seems like you need compile each .proto before it can be used. Its more complicated than just the parsing job. also since the server written in go, the proto file should also has declaration `go_package` before it can be used properly

[2019-08-19 07:29] jekiapp commented on #9
Hi @saichander I just pushed image `ahmadmuzakki/gripmock:0.7` and use similar example in [hello.proto](https://github.com/tokopedia/gripmock/blob/f8d858e1048f8246e52e9b1af008e2d2b71ad591/example/pb/hello.proto#L19) to represent utilizing WKT

[2019-08-20 03:30] jekiapp opened #21 "Support error codes"
Currently gripmock only able to expect string error. It would be better if it also support error codes like in closed PR #17. What I had in mind is instead of adding another field it'd be possible to type check wether the error is a string or google.golang.org/grpc/codes type

[2019-08-20 03:41] jekiapp opened #22 "Support find nested fields"
Find nested fields in function `contains` and `matches` like what @bpancost did in commit
4d8b300 and eb64574 in PR number #17

[2019-08-20 04:29] #9 closed

[2019-09-05 05:00] li-peng-dd opened #25 "Support dependencies with package names that include ";""
I noticed that if you try to start a service with a proto file that includes a dependency on something with package like `go_package=github.com/golang/protobuf/protoc-gen-go/descriptor;descriptor`, it fails with:

[code]

This is because `server.tmpl` just naively uses the package declaration as the import statement, which results in invalid like above. It can be fixed by truncating the package de

[2019-09-05 22:13] li-peng-dd commented on #25
@jekiapp I propose #26 as fix for this.

[2019-09-23 07:52] jekiapp commented on #11
PR number #28 solve this issue with [example](https://github.com/tokopedia/gripmock/blob/master/example/multi-package/hello.proto)

[2019-09-23 07:52] #11 closed

[2019-09-23 07:53] jekiapp commented on #25
solved in #27

[2019-09-23 07:53] #25 closed

[2019-09-25 09:56] briggySmalls commented on #11
Sorry I missed your message. Thanks for your work on this issue 🙌

[2019-10-22 13:42] mlegge1971 opened #32 "Support .proto file imports"
Hi,

Is there any way to support mocking a .proto file which in turn imports other proto files defining types, etc?

[2019-10-30 02:12] bhanuone opened #33 "Add Guidelines for using repeated fields"
I have been trying to stub a response which has repeated field of another message. But couldn't make it work. Please add some guidelines for using repeated fields. If it's not supported please add a note in the README about that.

[2019-10-30 04:46] jekiapp commented on #33
can you give example of repeated fields?

[2019-10-30 05:02] bhanuone commented on #33
I am stubbing using static files. This is my proto file
[code]
Here is the json stub
[code]

I was getting correct values for `response` and `complex_response` fields. But for `field_repeated` I am always getting empty array as value no matter how I define the value in the stub file

[2019-11-04 15:15] bhanuone commented on #33
The issue was not  because of the repeated field. But because of how we define our keys for output in json files. you either have to use camelCase  or PascalCase for multiword keys in output json. And the same does not apply to the input, you always have to use snake_case. There is a lack of consistency between input and output definitions in json stub files. @jekiapp

[2019-11-04 15:15] #33 closed

[2019-11-14 08:07] bjaglin opened #34 "Support protoc-gen-validate"
[PGV](https://github.com/envoyproxy/protoc-gen-validate) makes it possible to define validation rules at the field level. In a RPC context, it's a great way to document the constraints and fail early if a rule is violated, without implementing anything.

In our gRPC services implementation, we chose to automatically return a `INVALID_ARGUMENT` gRPC error code on the server-side if anything in the

[2019-11-29 11:32] gfelixc opened #35 "Enum stub"
Can you provide an example to stub fields with enum?

[2019-12-04 13:57] gfelixc commented on #35
In order to stub properly you need to keep in mind couple of things:

- tags used to unmarshal json stub is not `json` tags, but `protobuf` instead (licensePlate instead license_plate in example provided)

[code]

Enum parameters should be defined using numbers from proto definition

[2019-12-04 13:57] #35 closed

[2020-01-14 06:50] ram-98 opened #36 "Error while running multi protos with docker"
Hi ,I'm planning to use gripmock for writing integration test cases but facing issues while executing it .

`Starting GripMock
Serving stub admin on http://:4771
bar/bar.proto:8:12: "bar.Bar.name" is already defined in file "bar.proto".
bar/bar.proto:7:9: "bar.Bar" is already defined in file "bar.proto".
hello.proto: Import "bar/bar.proto" was not found or had errors.
hello.proto:9:16: "bar.Bar" s

[2020-01-14 08:12] ram-98 commented on #36
@jekiapp Please help

[2020-01-22 02:46] jekiapp commented on #36
did you see the example folder? there is an example for running multi proto files.

Since I don't know the detail about your proto files I'm unable to help much about your problem. My suggestion is learn the example then if there is any actual issue in gripmock, feel free to write down what the issue is rather than copy pasting error message. Hope you have a great day!

[2020-02-13 10:19] DanieleSassoli commented on #32
Hi @mlegge1971, I'm having the same issue, did you ever find a way to make this work?

[2020-02-13 10:23] DanieleSassoli commented on #32
Think I just noticed issue #11 with is pretty much the same thing, that might be why this issue was closed with no apparent reason.

[2020-02-21 12:34] marciodel opened #41 "Support reading from FileDescriptorSet file"
It should be possible to pass a FileDescriptorSet file as argument instead proto source files

[2020-02-24 03:41] jekiapp commented on #41
can you elaborate more on protoset?

[2020-02-24 18:12] marciodel commented on #41
Protoc have an option --descriptor_set_out to generate FileDescriptorSet. It would be nice if gripmock use it as input the same way that grpcurl (https://github.com/fullstorydev/grpcurl) does. In fact protoset is the name of grpcurl option.

[2020-03-05 08:03] ekedziora opened #42 "Problem with running multi proto setup on Docker"
Hi!

I have a problem with running multi proto setup. I try to execute [multi-package](https://github.com/tokopedia/gripmock/tree/master/example/multi-package) example with Docker command:
`docker run --rm -p 4770:4770 -p 4771:4771 -v <local_protos>:/proto tkpd/gripmock --imports=/proto/ /proto/foo.proto /proto/hello.proto`
where _<local_protos>_ is a path to folder containing `hello.proto`, `foo.

[2020-03-06 01:01] treethought commented on #42
getting the same issue

[2020-03-17 08:05] jekiapp commented on #42
Did you guys check this [file](https://github.com/tokopedia/gripmock/blob/master/example/multi-package/entrypoint.sh)?

@ekedziora the first error log caused by this syntax error `*.Response` that should be `*bar.Response`, but I haven't reproduce on how that code generated to be like that
the second error log definitely missing Service declaration here `type  struct{}`
did you ever succeeded try

[2020-03-17 10:09] jekiapp commented on #42
I'm able to reproduce the error, checking it.

[2020-03-17 10:33] jekiapp commented on #42
Just rebuilt and pushed the image, Please remove local image and pull the `latest` version.

I tried with
[code]
and it's running fine, Please check.

ps: $GOPATH is the root path of golang codes, please adjust accordingly

[2020-03-17 11:00] jekiapp commented on #41
After a little research I don't think it's possible to use FileDescriptorSet in gripmock since the `protoc` itself not supporting [it as an input](https://github.com/protocolbuffers/protobuf/issues/2725). In the case of `grpcurl` is different with gripmock, since gripmock basically generate a server based on .proto files.

[2020-03-17 11:00] #41 closed

[2020-03-17 11:01] jekiapp commented on #36
duplicate  #42

[2020-03-17 11:01] #36 closed

[2020-03-17 13:51] bcatarino commented on #42
I'm still having this error, and the proposed solution is not working for me. I'm calling it with:

`docker run --rm -p 4770:4770 -p 4771:4771 -v <myrootfolder>:/proto tkpd/gripmock:latest --imports=/proto /proto/evaluator_api.proto`

and I get

Evaluator and Subject are in the same folder, so it should find at least those. I don't own the code, so I can't just change the package names.

I did try

[2020-03-18 03:36] jekiapp commented on #42
@bcatarino I don't your issue is the same with the one mentioned above. original issue is that gripmock fail to generate grpc server based on proto.

Your first issue definetely about path issue. `<myrootfolder>` should be pointing to a folder that contain `thirdparty` and `evaluator` folders. you could debug that with `docker run -v <myrootfolder>:/proto --entrypoint=/bin/sh -it tkpd/gripmock:lat

[2020-04-02 14:12] arturmkr opened #43 "Send and receive stream"
Could you please provide an example how to setup mocking server if a client needs to send and receive stream?

For example having following proto:
[code]

It's needed mock server to operate with following data:
[code]

[2020-04-08 08:00] ekedziora commented on #42
Thank you @jekiapp, after pulling latest image everything seems to work fine for my scenario. From my perspective the issue can be closed.

[2020-04-08 08:12] #42 closed

[2020-04-22 07:38] Paxa opened #44 "Does it support grpc reflections?"

[2020-05-07 14:40] h3masood opened #46 "Gripmock is unable to bind data if the response message has "_" in one of the field name"
I am trying to setup a mock service with response messages that have properties with "_" in their name. However, for these messages gripmock is returning responses without binding what I have put in the "data" property in my stubs for the said properties. For example, if using the following protos

`service Gripmock {
    rpc SayHello (Request) returns (Response);
}
`
`message Request {
  string n

[2020-05-11 16:08] h3masood opened #47 "Gripmock container fails to build when using protobuf definitions split across multiple files"
I am trying to mock a service that has protobuf definitions split across multiple files. However, gripmock throws an error saying either my imports (think file1.proto importing file2.proto) were either not found or or had errors. I know that they don't have any errors because gripmock runs fine when I copy the definitions in file2.proto over to file1.proto. Is multi-file protobuf definitions not s

[2020-05-11 19:19] carvalhorr commented on #47
I had the same issue when evaluating gripmock. All my services are defined in multiple proto files. I ended up developing something for what I needed, but I am interested to see the solution for this issue.

[2020-05-14 11:52] J7mbo opened #48 "panic: runtime error: index out of range [1] with length 1"
docker-compose:

[code]

Error:

[code]

This is also with mounting a single .proto file in /protos.

[2020-05-14 13:03] #48 closed

[2020-05-18 15:00] ChrisVanBael commented on #47
I'm struggling with the same issue.
The multi-package example seems to indicate imports can be done, but I haven't figured out how.
An example would be greatly appreciated! Thanks.

[2020-05-21 01:47] takat0-h0rikosh1 opened #49 "Error happend when execute build.sh"
Hi.

I tried to fix and build because if `.proto` which import `google/api/annotations.proto` happend error. However, failed to build.

[code]

Is `go build ../.` in build.sh correct？

How do I resolve that？

[2020-06-01 17:18] mtrtm opened #50 "mutiple proto files in docker-compose doesn't work"
I am trying to use both flag and non-flag args in docker-compose.  It works just fine until I need more than one proto file.

Example of working docker-compose.yml file:
[code]

Fails, with a log message of "File does not reside within any path specified using --proto_path (or -I).  You must specify a --proto_path which encompasses this file..."
[code]
I am wondering if I am doing something wrong,

[2020-06-01 20:17] mtrtm commented on #50
In my previous example I tried proto files in two different folders.  I decided to try two different proto files in the same folder as outlined in https://github.com/tokopedia/gripmock/blob/master/example/multi-package/entrypoint.sh

I then get
[code]

[2020-06-01 22:51] mtrtm commented on #50
I have now built a VERY simple example with the same package name in both proto files and both proto files in the same folder just to see if I could get gripmock to serve two calls.  I am getting the following error:
[code]
it then outputs the go file.  The last line I copied (there's more) has a struct:
[code]
I would love to use this project for my teams, but until we can serve multiple proto fi

[2020-06-02 06:03] albertwidi opened #51 "migrate gripmock to go modules"
Go 1.15 is near(August), and as Go module is becoming the default choice of Go's package manager, should this project also move to the Go module?

[2020-06-03 14:06] phoe3nix commented on #50
hi @mtrtm ! I took commit in this pull request: https://github.com/tokopedia/gripmock/pull/45. And this commit solve problem for me.

[2020-06-03 15:05] mtrtm commented on #50
So you got more than one proto file to work?  Did each proto file have a different package?

I think the author is still waiting on someone to add tests around that PR

[2020-06-03 15:11] phoe3nix commented on #50
@mtrtm I have 6-7 proto file and they in two different packages.  I have many other problems, for example cycle imports, because sed change package name of all files to main.

[2020-06-05 00:10] babiano opened #53 "Test Issue from GH Support"
Test Issue from GH Support

[2020-06-11 21:32] mtrtm commented on #50
when is this PR going to be accepted?  I'd like to start using this

[2020-06-25 09:45] jekiapp commented on #50
Hi @phoe3nix is it possible to add testcase in the current example test cases, so we have clear picture what is the problem and how this PR #45 solve it.

[2020-07-13 15:03] mtrtm commented on #50
I'd love if someone could do this.  I think the only thing that would need to be added (or change the existing?) is just to make the package name be different. @jekiapp @phoe3nix

[2020-08-03 10:35] jekiapp commented on #46
PR #52 merged

[2020-08-03 10:35] #46 closed

[2020-08-03 10:35] #53 closed

[2020-08-03 10:42] jekiapp commented on #47
Hi guys sorry for late reply, did you check examples in this folder? https://github.com/tokopedia/gripmock/tree/master/example/multi-package

[2020-08-03 10:46] jekiapp commented on #47
is it related with issue #50 ?

[2020-08-03 11:49] jekiapp commented on #50
@mtrtm PR #45 merged after I made tests for it :smile:
@phoe3nix do you have any issue with sed? feel free to open a new issue for it.

[2020-08-03 12:05] jekiapp commented on #47
duplicate with #50

[2020-08-03 12:05] #47 closed

[2020-08-03 12:08] phoe3nix commented on #50
Hi @jekiapp
Generate server was failed, when proto files have cycled between them. It's a problem of proto files, of course. But I think, that change all packages name to `main` isn't good idea, when you start server with 5-10 different packages)

[2020-08-03 12:08] jekiapp commented on #44
could you be more specific?

[2020-08-03 12:12] jekiapp commented on #50
do you have any suggestion for this?

anyway, I think it's a whole different issue, if you could open an issue and provide some example with more information, together we could find the solution :slightly_smiling_face:

[2020-08-03 12:17] jekiapp commented on #50
I just built `tkpd/0.8.2` docker image with patch from #45 and #52 please pull and try it.

[2020-08-03 12:17] jekiapp commented on #47
I just built tkpd/0.8.2 docker image with patch from #45 and #52 please pull and try it.

[2020-09-01 09:27] harshmah opened #55 "How to stub both gRPC and Rest (GET/POST) endpoint?"
I have a service that is based on gRPC. But that having both types of downstream:

Web Server - Call them via GET/POST.
gRPC Server - Call them via gRPC.
Can we use gripmock to stub both endpoints? If yes, please share an example.

[2020-09-18 08:24] jekiapp commented on #55
No gripmock only mock gRPC endpoints. for REST you can use [wiremock](http://wiremock.org/)

[2020-09-30 12:12] ppromsuban opened #57 "Does it support verifying request like wiremock?"
In wiremock there is a feature to verify if a request was received.

http://wiremock.org/docs/verifying/

Does it support this. If it doesnt support would it be supported in the future?

Thanks in advance

[2020-10-08 04:19] #55 closed

[2020-10-08 06:59] #50 closed

[2020-10-12 11:18] bjaglin opened #58 "Support proto3 canonical encoding"
grimock 1.8.2 fails to parse a response with a `google.protobuf.Timestamp` encoded as a single string, as defined in https://developers.google.com/protocol-buffers/docs/proto3#json:

[code]

https://github.com/golang/protobuf/blob/v1.0.0/jsonpb/jsonpb.go should be used instead of `json.Marshal` in:
* https://github.com/tokopedia/gripmock/blob/9315ff9/protoc-gen-gripmock/server.tmpl#L152
* https://

[2020-10-15 15:43] exane opened #59 "Docker latest version points to wrong version"
Hey, first of thanks for your project!

We are currently trying out gRPC for our internal services and we were evaluating/looking for something to support our test setup and this looked like exactly what we need.
We then used your latest docker image for this and immediately stumbled over this issue where properties stay empty if they have an underscore in their name.

After a long debugging sessi

[2020-11-10 08:24] fortmarek commented on #59
Thanks! I can confirm this is still an issue, but changing `latest` to `0.8.2` fixes this 🙂

[2020-11-10 12:21] ceramcardle opened #61 "Cannot mock response that includes oneOf"
The example proto file in the docs works fine but when I amend it to include a oneOf it does not work for me.
The amended proto file is:
`syntax = "proto3";

package simple;

// The Gripmock service definition.
service Gripmock {
  // simple unary method
  rpc SayHello (Request) returns (Reply);
}

// The request message containing the user's name.
message Request {
  string name = 1;
}

message R

[2020-12-02 17:26] uguruysal0 opened #63 "Generated server.go has wrong types at service methods"
Hello, I have a grpc service and in integration tests, I would like to mock that service. Here the one of the pb.go files (auto-generated), The generated server.go file uses the wrong package, therefore build fails.

We can see thtat AddItemReq is in "main" package, but in "server.go", this type(AddItemReq) is assumed to be in "basketproto" package (which is defined in .proto files).

// Code gene

[2021-01-05 07:59] harishp8889 opened #64 "GRPC update to latest version"
Hello,
We have the requirements for the below updates. Please let me know any plans on this.
1. Update `google.golang.org/protobuf ` from `github.com/golang/protobuf`
2. Update GRPC lib to the latest version
3. Add the latest docker images to the repo.
4. Introduce go modules instead of dep (nice to have)

Thank you,
Harish P

[2021-01-23 03:45] washanhanzi opened #65 "Can't find /go/src/grpc/*.pb.go"
I am tring to use gripmock with docker, and mount the `user.proto` file into docker

but the docker exit with:
[code]

It seems the pb.go file didn't generated.

[2021-01-23 10:50] Kareem-Emad commented on #65
I think the issue happens when you specify the `go_package` option with the full path of your package
example
[code]
will fail with
[code]

removing the option or replacing it with just the package name will work
[code]

[2021-01-23 12:53] Kareem-Emad opened #66 "Check how many times a service method was called"
I think it will be worth it if we have a route to check how many times a certain method was called, to make sure our code actually did consume the stubs we added before we clear them in the next test

example

[code]

that should return zero if not called at all or number of calls if any.

may be doable if we appended call count with every call to `findStub` from Grpc mock server?  Excluding calls

[2021-01-23 12:59] washanhanzi commented on #65
Thank you. It fixes my problem.

[2021-01-23 13:06] Kareem-Emad commented on #65
You are welcome

but this still a valid issue since protoc generator complains about the go package missing the fullpath specification, and it will be required in future release so I think that needs to be supported here.

[code]

[2021-01-29 02:41] andruhon commented on #42
Just a note.

To get it working I had to point to `tkpd/gripmock:0.8.2` rather than to `tkpd/gripmock:latest`. It turns like latest on dockerhub is older than 0.8.2. Also tag on github showing 1.8.2 and dockerhub showing 0.8.2

[2021-03-03 07:28] jekiapp commented on #61
fixed by #62

[2021-03-03 07:28] #61 closed

[2021-03-03 07:28] jekiapp commented on #58
fixed by #62

[2021-03-03 07:28] #58 closed

[2021-03-03 07:28] jekiapp commented on #51
fixed by #62

[2021-03-03 07:28] #51 closed

[2021-03-04 09:42] nburunova opened #67 "incorrect handling of uint64 \ int64 values from stub json data"
service.json in stub folder:
[code]
Proto file:
[code]

When requesting FriendsAPI.FetchFriends I got 9223242625195230208 instead of 9223242625195229889.
Smaller values like 922324262519522 or 1307584 are passed to response as thay are.
Problem is only with big values.

Can you fix in please?

[2021-03-06 17:26] hadican commented on #22
Hi @jekiapp, I've created a pull request regarding this. Could you please check?

https://github.com/tokopedia/gripmock/pull/68

[2021-03-11 15:35] cfredri4 opened #69 ""bytes" giving error "source data must be an array or slice, got string""
I have a proto with "bytes" (in a repeated wrapper object, though this should be unrelated). From what I can tell this should be represented as a Base64 string, however this is giving the client an error that "source data must be an array or slice, got string"

Am I doing something wrong, or are bytes not currently supported?

Example proto:
[code]

Example stub:
[code]

[2021-03-24 12:39] hadican commented on #22
Hi @jekiapp, kindly reminder. :)

[2021-04-06 05:29] benquinteros commented on #65
Any update on this?

[2021-04-13 06:21] benquinteros commented on #44
you mean like via grpc_cli?

[code]

[2021-04-15 13:55] sradevski opened #72 "Support for proto3 `optional`"
Hey there, great job on making this, it is much needed.

I tried using the package, but it seems `optional` is not supported. When running the package, I get `This file contains proto3 optional fields, but --experimental_allow_proto3_optional was not set.`, so maybe it's as simple as passing the experimental flag to `proto-gen`?

Cheers

[2021-04-18 23:44] 0xRafal opened #73 "package com/language/v1/language.proto is not in GOROOT"
I am trying to stub following example: https://github.com/slavovojacek/blogging.git

But are getting:

/go/src/grpc/hello_service.pb.go:10:2: package com/language/v1/language.proto is not in GOROOT (/usr/local/go/src/com/language/v1/language.proto)
2021/04/18 23:40:00 exit status 1

Using following command line to run it:

docker run -p 4770:4770 -p 4771:4771 -v /tmp/proto/blogging/grpc-node-buf-t

[2021-05-03 07:28] pcriv opened #74 "Support googleapi protos"
https://github.com/googleapis/googleapis

[2021-05-30 03:17] nyandora opened #76 "How can I define mock response data containing "repeated" fields?"
I defined stub data below. The field "repeated_items" is "repeated" field.

[code]

Then, gripmock responsed a message below. The field "repeated_items" has no data.

[code]

The stub data definition above Is wrong?
How can I define mock response data containing "repeated" fields?

[2021-06-09 09:15] Pawan534 opened #78 "Getting TLS handshake error, when trying to mock GRPC service"
Getting below error, we are trying to mock the GRPC service using gripmock but when trying to configure the same mock server in code getting below error

Error: rpc error: code = Unavailable desc = last connection error: connection error: desc = "transport: authentication handshake failed: tls: first record does not look like a TLS handshake"

[2021-06-15 10:30] evanlb1988 opened #79 "How do I add a request that has `oneof` keyword in the stub?"
[code]

I tried the following but I am getting a `Can't find stub` error
[code]
I also tried ohter possible implemention I can think of but none of  them works

[2021-06-28 09:57] dshcherbatiuk commented on #43
Any updates?

[2021-07-12 13:14] sonalibishwas opened #81 "sed: /go/src/grpc/file_2.pb.go: No such file or directory"
We use gripmock with multiple package import in our project's integration tests.

We had two proto files under v1_0_0 folder -
file_1.proto and file_2.proto
and this is how we were using to bring up gripmock

gripmock --stub=/drone/src/integration-tests/docker-mock/gripmock/mappings --imports=/proto /proto/v1_0_0/file_1.proto /proto/v1_0_0/file_2.proto

It use to work fine until we have a change i

[2021-07-19 16:00] chaganiu opened #82 "Is this project still active?"
Just wondering if this project is still active and maintained?

[2021-07-25 08:54] maximveksler commented on #82
I hope it does :)

[2021-07-28 11:01] jekiapp commented on #82
Currently I'm the only person maintaining this project, definitely I cannot keep up with feature requests or even reviewing PR.
The state of this project is running with basic functionality, when I gather enough PR features or bugfixes I create a new release. :slightly_smiling_face:

[2021-07-28 11:07] jekiapp commented on #81
It seems your problem is about putting proto in a subfolder, right?
this PR might solve your issue #77

[2021-07-28 11:53] jekiapp commented on #81
I see the issue is not related with the gripmock, instead the way you define your `.proto` file. It explicitly said `Missing 'go_package' option in "file_1.proto"`.

You probably find inspiration from [this example file ](https://github.com/tokopedia/gripmock/blob/283a8f73083199ff96260ff2c5ba99b59b921add/example/multi-package/bar/bar.proto#L5). It define the `go_package` option.

[2021-07-28 16:15] sonalibishwas commented on #81
Thank you Ahmad. Yeah it's with subfolders. Will try it out once the PR is
merged.

On Wed, Jul 28, 2021 at 7:53 AM Ahmad Muzakki ***@***.***>
wrote:

[2021-07-28 23:37] jekiapp commented on #81
Hey I don't think your issue is regarding stub subfolder, so the PR I
mentioned before is not relevant.

On Wed, Jul 28, 2021 at 11:15 PM sonalibishwas ***@***.***>
wrote:

--
Disclaimer:
The information contained in this communication is intended
solely for the addressed individual or entity only.
If you are not the
intended recipient, you are hereby notified that any disclosure, copying,
distrib

[2021-07-28 23:50] jekiapp commented on #65
Hi @Kareem-Emad

I'm a bit confused of what is actually being supported in the future. The warning said `WARNING: Deprecated use of 'go_package' option without a full import path` but the one that fixed the issue is specifying package in the short version. I thought full import path means the longer one.

[2021-07-29 14:17] daonb commented on #82
@jekiapp thanks for the time you're putting into this 🍻
I just found gripmock as I was looking for a mock to test system tests' helper functions. Do you have an estimate as to how many projects use it as part of their test automation?

[2021-07-30 08:11] jekiapp commented on #65
It turns out a huge incompatibility change. In order to support this, I need to require `go_package` for every proto being used, thus it's non-backward compatible.

[2021-08-02 10:21] jekiapp commented on #43
I don't think what you need is stream function, rather you need to return repeated object.

[2021-08-02 10:22] jekiapp commented on #81
it actually related with #65

[2021-08-02 10:28] jekiapp commented on #82
well, I'm not sure, for what I'm aware of if you're looking for something similar to gripmock you got very limited options out there. That's why people still using gripmock even tho I didn't put a great piece of my time maintaining it :smile:

I'm about to create a big PR after this, it's a big one since it will make incompatibility to the old .proto files. I have to do it in order to support the

[2021-08-02 10:55] jekiapp commented on #65
I created this PR #83 to solve this issue, it's quite a big change. It will make a backward incompatibility to the old .proto files since it will require `go_package` declaration.

[2021-08-03 07:24] jekiapp commented on #65
I pushed `tkpd/gripmock:v1.10` to address this issue, checkout [this release ](https://github.com/tokopedia/gripmock/releases/tag/v1.10)

[2021-08-04 10:04] a619646645 opened #86 "How to run without docker"
Our company is an intranet environment，so How to run it without docker.
I tried to compile locally,and the following operations are done,

go get github.com/golang/protobuf/proto
go get google.golang.org/grpc
go get github.com/golang/protobuf/protoc-gen-go

But I can't run it.
It seems that some environment is missing,such as missing proto

need some guide. best wishes

[2021-08-04 11:22] jekiapp commented on #86
How about running the docker then exposing it to your VM?

Since you didn't provide errors whatsoever, my advice is that you need to replicate and understand whatever is inside the Dockerfile.

[2021-08-05 00:35] cchengrbx commented on #65
Hi @jekiapp, thanks for putting out a release.  When I tried v1.10.0, I ended up with a pretty cryptic error. Any idea what the issue might be?

/go/src/grpc/server.go:19:2: package <my_go_package> is not in GOROOT (/usr/local/go/src/<my_go_package>)

I'm executing it like so:
[code]

[2021-08-05 15:27] cchengrbx commented on #65
Hi @jekiapp, thanks for pushing the new release to support `go_package`.  After trying it, I get a pretty cryptic error:
[code]

Here's how I'm invoking gripmock:
[code]

Any ideas where I went wrong?

[2021-08-06 06:42] jekiapp commented on #65
@cchengrbx did you literally put `<my_go_package>` as value in `go_package` option?
if yes, then you need to change it to a standard path format. Please check this [reference](https://developers.google.com/protocol-buffers/docs/reference/go-generated#package)

[2021-08-06 16:10] cchengrbx commented on #65
No, the `go_package` is set to something in the format `foo/barv1` so nothing special.

[2021-08-06 23:06] jekiapp commented on #65
#response_container_BBPPID{font-family: initial; font-size:initial; color: initial;}  I just pushed tkpd/gripmock:1.10.1 try it

[2021-08-09 12:56] HairyMike opened #87 "Proposal: Could we generate go_package option at runtime?"
Hi there,

The recent change to require the go_package is a breaking change for us.  We primarily use nodejs and it doesn't make sense to include it in our protobufs.  Our repos are private anyway, so we'd have another step to do to make sure the gripmock image can login to our repos (I believe this triggers a 'go get' under the hood).

I'm wondering if there would be an option to generate the go_

[2021-08-09 13:00] HairyMike commented on #82
@jekiapp I'm happy to help with some PRs from time to time.  I also think theres plenty of community interest in this project for the reason you just mentioned :). Would you be interested in adding to the list of PR approvers?

[2021-08-09 16:47] cchengrbx commented on #65
Thanks @jekiapp, `.1.10.1` is working great.

[2021-08-10 02:05] jekiapp commented on #87
Hi @HairyMike

I understand your concern. We all hate giving breaking changes but since we use golang for the generator, we need to comply with their plugin requirement.

But your proposal is definitely doable, even tho we need to test it rigorously. As your proposal with parsing the .proto we could give the generator plugin to have one more feature which is detecting go_package and add it if ther

[2021-08-19 11:52] JehandadK commented on #86
@a619646645 I think the next step you need is to install the generator.go and then you can try running gripmock.go.

I found the best way to replicate is to follow the projects Dockerfile.

[2021-08-19 11:55] JehandadK commented on #87
@HairyMike would be interesting if you shared whether you achieved it or not.

[2021-08-24 06:32] tokuki-ho opened #89 "What is the "M" argument on the command line?"
Hi , with latest docker image(v1.10.1), I get a error:

    | Please specify either:
    |      • a "go_package" option in the .proto source file, or
    |      • a "M" argument on the command line.

What is ` a "M" argument on the command line.` and how to pass it to command line?
(I don't want to add `go_package` to proto file)

[2021-09-07 01:54] bklooste opened #91 "docker image is huge"
The docker image is huge adds a lot of weight to each service for testing or testing locally.

[2021-09-07 02:29] Jaldhi282 opened #92 "Stub mismatch Error"
Stub mismatch error even if stub data input and provided input both are same.
Refer below screenshot.
<img width="1353" alt="gripmock_error" src="https://user-images.githubusercontent.com/86106493/132275153-144ef808-3c7b-4746-af26-e68da27ecb2f.png">

[2021-09-07 05:20] bklooste opened #93 "How to use 1.10 without Go"
We use C#, Node and Java and was using gripmock as a container but i now get protoc-gen-go: unable to determine Go import path for "cancellation.proto" errors when specifiying more than 1 file ..

![image](https://user-images.githubusercontent.com/261344/132287930-f51e15a4-f164-4d5e-bd79-f7440f8d9b79.png)

Whats the best way to deal with this ?

[2021-09-07 08:41] Jaldhi282 commented on #92
Any Update ?

[2021-09-09 05:56] #92 closed

[2021-09-15 05:05] nashrull commented on #89
So do i

[2021-09-20 20:10] daipthraomng opened #94 "[Q] How do start mock service with docker?"
I have following project structure define 1 grpc api: calculator.Sum
![image](https://user-images.githubusercontent.com/52918894/134067904-d6e61297-2be8-4dad-b838-62b4d4f9e00d.png)

I can run server, and get response successfully:
`	go run server/server.go
	go run client/client.go`

But i run image gripmock to mock service then fail. My commandline:
`docker run -p 4770:4770 -p 4771:4771 -v <local

[2021-09-21 04:01] daipthraomng opened #95 "How define stub for dynamic output (response)?"
I think dynamic response is very necessary. Request can be match regrex (this project's team did very well).

I think specific output of stub not good, so how stub can define dynamic output?

Look forward to this feature. How do u think?

[2021-09-25 08:45] get109en opened #96 "No match data when field type is not string"
If the field's type is string, everything goes well. But for a field whose type is not string, data can't be matched.
example:
------- pfoto file -------
// The Gripmock service definition.
service Gripmock {
  // simple unary method
  rpc SayHello (Request) returns (Reply);
}

// The request message containing the user's name.
message Request {
  google.protobuf.StringValue name = 1;
}

// The re

[2021-09-27 08:28] #95 closed

[2021-09-27 08:34] daipthraomng commented on #96
Input format is defined in stub. You can read for solution [here](https://github.com/tokopedia/gripmock)

p/s: Please edit request with style code.
` and
[code]

[2021-09-29 07:39] shizuku-nem opened #97 "[Q] How config go_package?"
go_package is required in .proto. I am wondered **what is the rule setting go_package?**

My project structure:
![image](https://user-images.githubusercontent.com/52918894/135224018-b6a66714-8e30-463d-a5f0-b32b95b8c861.png)

I set:
[code]
or
[code]
Then both are fine. In two cases, mock service can run and interact.
I'm confused about it.

[2021-09-30 09:20] get109en commented on #96
Sorry, I can't find solution in above link https://github.com/tokopedia/gripmock.  Can't you tell me in details?
is google.protobuf.StringValue supported?

[2021-10-03 17:37] daipthraomng commented on #96
Sorry for late! You can show me the docker command line that you use? and all steps, file stub you defined, command lines you run... please detail.

[2021-10-15 08:33] HairyMike commented on #87
@JehandadK, I'll have a PR up when I get something working.  I am planning to return to this, but I've been super busy with other stuff.

[2021-12-06 09:49] matsuyoido opened #99 "Cannot run server"
I tried run server on Docker, but exit status 1...

Can you identify the cause and fix it?

※ As a premise, filename and package name cannot be changed.

## Directory

* docker-compose.yml
* proto/hoge-server.proto
* proto/hoge-server-model.proto

### File details

docker-compose.yml
[code]

proto/hoge-server.proto
[code]

proto/hoge-server-model.proto
[code]

## Exec log( $ docker-compoe up )

[c

[2021-12-30 09:28] malins commented on #72
Just patch generator.go to also support optional keyword in proto files.

[code]

[2022-01-10 19:16] synackSA opened #100 "Multi-package and well known types don't work together"
Hi there

I'm not sure if I'm doing this correctly, but when trying to mock a service that has multi package proto files and uses Google's well known types (like Empty), it seems to break. Here are is my setup.

**docker-compose.yaml**
[code]

**proto/root/common/response.proto**
[code]

**proto/root/grpc/service.proto**
[code]

**stub/get_all_messages.json**
[code]

**stub/get_detailed_message_by

[2022-01-26 08:34] mpankiewicz97 commented on #48
Hi, could you please share what was the issue?

[2022-02-02 10:42] jekiapp commented on #87
I'm on it guys #101

[2022-02-02 10:45] jekiapp commented on #97
it's basically a requirement from protoc, if it isn't present, it just stopped generating the files. Since gripmock use protogen-go I need to obliged to that rule, so basically you can put arbitrary stuff there as long it has that format it works fine.

[2022-02-02 10:45] #97 closed

[2022-02-03 09:43] HairyMike commented on #89
This is the output from `protoc` which is executed on the container (by the go code - [here](https://github.com/tokopedia/gripmock/blob/master/gripmock.go#L123)).

The current latest version of gripmock requires a `go_package` option at the top of your protobuf files.  Good news is that theres a [Pull Request](https://github.com/tokopedia/gripmock/pull/101) being worked on that will remove the nee

[2022-02-10 04:33] WanderingRich commented on #100
They're under /protobuf/ https://github.com/tokopedia/gripmock/blob/master/Dockerfile#L25

Changing command to:
`command:
      - --stub=/stub
      - --imports=/proto,protobuf
      - /proto/root/grpc/service.proto
      - /proto/root/common/response.proto`

 should solve your issue.

[2022-02-15 12:56] mgerasimchuk commented on #72
Also faced:(

[2022-02-18 08:04] jekiapp commented on #93
try using `tkpd/gripmock:v1.11-beta` image

[2022-03-01 15:21] v-makeev opened #105 "Proposal: add an option to force ignore go_package in proto files"
Hi,

We are currently using full repo paths in `go_package` (e. g. `option go_package = "github.com/v-makeev/private_repo";`). Generated `server.go` file imports `github.com/v-makeev/private_repo`, which cannot be downloaded inside docker container without having an access to the private repo:

[code]

I've tried using v1.11-beta and it works great when `go_package` is not present, but I'm wonderi

[2022-03-11 14:04] VladStatnyk opened #106 "How to work with 100+ proto files?"
Hi there,

We have so much separate proto files inside project. Can we somehow add them all together? Currently, I successfully run such command:
`docker run -p 4770:4770 -p 4771:4771 -v C:\Git\SomeRepo\src\Protobuf\:/proto tkpd/gripmock:v1.11-beta --imports="/protobuf,/proto" /proto/some_service.proto /proto/SomeServiceMessages/some_service_request.proto /proto/SomeService/some_service_response.p

[2022-03-14 03:14] jekiapp commented on #106
Interesting, but since `protoc` is not that "smart" enough to know which files you actually need I can say neither do gripmock. Let's have a thought experiment, if we greedily import all files with .proto files, do we have any gotchas?

[2022-03-17 12:28] pmsfc opened #107 "GripMock is removing enums with value 0"
We use the default enum value 0, and while trying to match a stub with 0 it always fails.
The main reason is that the gRPC server is removing that value and passing the data to the stub without that field.

[2022-03-17 18:45] pmsfc commented on #107
I guess a quick fix for this to enable defaults on the server?

[2022-03-28 09:35] VladStatnyk commented on #106
Looks like it's working, even for a lot of files.
Thanks!

[2022-03-28 09:35] #106 closed

[2022-03-31 14:55] nirdunetz commented on #48
@J7mbo solution?

[2022-04-18 15:51] ranganathmk27 opened #108 "gripmock grpc health check in kubernetes"
Hi,

I'm  deploying gripmock in kubernetes cluster and it check the health check using check method with payload "service":""

I'm tried this way to create a mock using matches method to accept "service field with empty string"

tried many combination also like
^$
^$|.*
""
but no luck with any above combination, I'm getting **Can't find stub** error
{"service":"Health","method":"Check","input":{"m

[2022-05-07 12:06] sejin-P opened #109 "Process exited even there was just warning."
When I run gripmock docker image with my proto files, container exited just because of warning came out while building proto files. The warning comments were just like 'unued import' or 'proto3 expermental~~'. It should be fixed.

[2022-05-15 09:14] sejin-P commented on #109
It was my mistake. The process was exit by experimental option in protoc, not by just warning.

[2022-05-15 09:14] #109 closed

[2022-05-15 15:51] sejin-P commented on #72
It's because of protoc in gripmock image is 3.12.2 which cannot support optional field. I tried to fix it, but all of my effort was unnecessary.

[2022-06-03 09:33] jorgeo01 opened #111 "Cannot build dockerfile"
Have a similar requirement to https://github.com/tokopedia/gripmock/issues/86 where I cannot run gripmock via docker and would prefer a single binary if possible.

I’ve then attempted to follow/build the dockerfile to try and understand all the pieces.

First issue that I encountered was, the fact that this takes on golang:alpine latest version, which currently is 1.18.2. As of version 1.18.x, 'go

[2022-06-10 08:36] jekiapp commented on #105
Hmm this is interesting, so you mean gripmock should override your `go_package` declaration, right?

[2022-06-10 09:47] jekiapp commented on #105
I think what I'm going to do is append the replace statement in gripmock mod.go
`replace github.com/v-makeev/private_repo v0.0.0 => /go/src/github.com/v-makeev/private_repo`
this will trick Go inside the image to look for local package instead.

[2022-06-13 03:38] #87 closed

[2022-06-13 03:39] #93 closed

[2022-06-13 03:52] jekiapp commented on #99
try to use image `tkpd/gripmock:v1.11-beta` and remove the `option go_package = "hoge.hoge_hello.v1";`

[2022-06-13 04:56] #100 closed

[2022-06-13 05:01] jekiapp commented on #94
try to use image `tkpd/gripmock:v1.11-beta` and remove the go_package declaration

[2022-06-13 10:41] #99 closed

[2022-06-15 08:16] jekiapp commented on #105
Turns out it is too hard to create the replace statement for each package. So I force-replace the go_package, since any declaration of it will break the system due to the latest go mod update. :smile:
#114

[2022-06-20 06:37] rbroggi opened #116 "Absolute imports for proto files in the same directory not working"
# Absolute imports for `proto` files in the same directory not working

In case two or more proto files are in the same package and there is a dependency between them, the go code generation will not work correctly in case the import statement is provided in absolute path. It works correctly if the import statement is relative.

Example:

In a project with the following directory structure:

[code

[2022-06-20 07:45] rbroggi opened #117 "Why `imports` are not enough to define code generation?"
In a project where you have inter/intra package dependencies, I find it strange and redundant the fact that we need to specify all the protos to `gripmock` even after providing the `--imports` flag.

Let's take the [multi-package](https://github.com/tokopedia/gripmock/tree/master/example/multi-package) example:

We have the following dependencies:
1. hello.proto -> bar/bar.proto
2. hello.proto ->

[2022-06-28 02:33] jekiapp commented on #116
when you're not using gripmock, how you pass the argument into protoc?
since above error is directly from protoc.

[2022-07-19 15:39] daymansiege commented on #116
I have similar issue. Service references shared models (shared between multiple services) and I add them as to imports.
Doesn't matter if they are in the same folder (/protos) or multiple import paths (/protos,/common), gripmock seems to find them and even read package name but fails to load them, see sample output (just replaced companu name with XXX)
[code]

With `v1.11-beta` message is a bit di

[2022-07-19 18:40] daymansiege commented on #116
Here is simplified example of the issue (see code attached)
Something simple that uses well known google type, works fine.

[code]
[code]

If using some imports from external folder, getting error:

[code]

[code]

[2022-07-28 12:04] ocherniavskyi-lohika-tix opened #120 "Invalid handling of enum values"
We have next service described in proto:
[code]

When i creating stub like this:

[code]

And call method GetAssetMetadataByType with enum value PURCHASE_ORDER(means "0") : gripmock failed to match request with failure:

[code]

but when im changing enum value in grpc request - from PURCHASE_ORDER  to INVOICE (means "1")  then error is next:

[code]

So seems 0 as enum index is the root cause of t

[2022-07-28 12:23] ocherniavskyi-lohika-tix commented on #107
@jekiapp Could you please check this issue?

[2022-07-29 03:29] kunlk opened #121 "google.protobuf.Timestamp type conversion in stub"
Hello, I have a query about the google.protobuf.Timestamp type conversion. My scenarios as below:

- I have a google.protobuf.Timestamp type called expire_time which defined in proto file
`google.protobuf.Timestamp expire_time = 2;
`
- I defined stub file like below
`"input": {
    "equals": {
      "expire_time": "2022-06-21T16:38:39.607823Z"
    }
  },
  "output": {
    "data": {
      "expire_t

[2022-08-02 09:47] #120 closed

[2022-08-02 09:47] ocherniavskyi-lohika-tix commented on #120
duplicate of [107](https://github.com/tokopedia/gripmock/issues/107)

[2022-08-17 09:51] TsubasaEX opened #122 "The condition between "matches" and "equals" is OR? This should be AND？"
`{
    "service": "service",
    "method": "method",
    "input": {
        "matches": {
            "name": "[^\n]+"
        },"equals":{
            "cat_name": "abc"
        }
    },
    "output": {
        "data": {
            "name": "amy",
            "id": 77
        }
    }
}`

I found the above condition will be matched even though I have a input with "cat_name" as "efg".
This is weird,

[2022-09-09 16:32] jbgosselin opened #123 "Support for deleting specific stub"
Hi there ! Nice project !

I would like to use it in order to mock GRPC APIs during testing.
I want to use a mix of static stubs and per test stub that would be cleared at the end of the test.
The problem is that it is only possible to delete all stubs at once, including static ones.

I was thinking of adding an auto generated ID to each stub and being able to delete a single stub if necessary.

M

[2022-09-16 13:30] XIELongDragon opened #124 "Can also publish arm64 image for MacOS M1 and M2 cups"
Want to know if it is possible to publish arm64 image together with amd64 image

You can try to use `docker buildx build --platform linux/amd64,linux/arm64 .` to build and publish your image.

https://docs.docker.com/build/building/multi-platform/

[2022-09-22 16:44] sdontireddy commented on #116
+1 , we also have same issue.
As a temp solution , we had to put all the required protos under the same folder and updated the imports accordingly.

[2022-10-13 16:38] scvnc opened #125 "How to mock out grpc status code and headers?"
I want to verify how my app behaves when the grpc status code is `9` and particular metadata headers (`X-DETAIL-CODE`) are being sent, as this is how I am tranmitting error details to my client.

It seems unclear how to do this with the json stub definition or if it's currently possible.

Thanks :)

[2022-10-20 03:54] foreverest opened #126 "Match everything?"
Is it possible to add a stub to match every request regardless of the input?

[2022-10-20 06:02] foreverest commented on #126
Okay, it looks like `"input":{"matches":{}}` does the trick.

[2022-10-21 16:26] foreverest commented on #125
I would also be interested in mocking status codes.
There is also this old issue on that: https://github.com/tokopedia/gripmock/issues/21.